{{define "popular_body_type"}}
<section class="explorer-section">
    <div class="container explorer-layout">
        
        <div class="explorer-image-container">
            <img src="/static/assets/images/audi-red.png" alt="Featured Car" class="explorer-feature-car">
        </div>

        <div class="explorer-content">
            <h2>Explore popular body types</h2>
            
            <div class="explorer-grid">
                <a href="/catalog?category_id=7" class="explorer-card">
                    <div class="icon-wrapper">
                        <img src="/static/assets/icons/estate-car.svg" alt="Estate">
                    </div>
                    <span>Estate</span>
                </a>

                <a href="/catalog?category_id=1" class="explorer-card">
                    <div class="icon-wrapper">
                        <img src="/static/assets/icons/suv-car.svg" alt="SUV">
                    </div>
                    <span>SUV</span>
                </a>

                <a href="/catalog?category_id=2" class="explorer-card">
                    <div class="icon-wrapper">
                        <img src="/static/assets/icons/sedan-car.svg" alt="Sedan">
                    </div>
                    <span>Sedan</span>
                </a>

                <a href="/catalog?category_id=5" class="explorer-card">
                    <div class="icon-wrapper">
                        <img src="/static/assets/icons/hatchback-car.svg" alt="Hatchback">
                    </div>
                    <span>Hatchback</span>
                </a>

            </div>
        </div>
    </div>
</section>
{{end}}